name: CD

on:
  push:
    branches: [ master ]

jobs:
  deploy:
    runs-on: ubuntu-latest
  
    steps:
    - name: Deploy to Digital Ocean
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USER }}
        key: ${{ secrets.KEY }}
        script: |
          cd 2020-2-SiGeD-Users
          docker-compose down
          git checkout master
          git checkout .
          git pull origin master
          cp deploy.env .env
          docker-compose up --build -d

